<a href="https://colab.research.google.com/github/thotran2015/COVID19_Causality/blob/master/data_organization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline
# !pip install -U plotly
# import plotly.express as px
from urllib.request import urlopen

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import pandas
import time
import io
import json

#You will need to mount the drive to use the relevant datasets in the shared 'Data' folder
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
NYT_LINK = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
CENSUS_LINK = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv'
CENSUS_ENCODING = 'latin1'

nyt_cases = pd.read_csv(NYT_LINK) 
census_data = pd.read_csv(CENSUS_LINK, encoding=CENSUS_ENCODING)
pop_data = census_data[['STATE', 'COUNTY', 'STNAME', 'CTYNAME','POPESTIMATE2019']]

pop_data["fips"] = pop_data['STATE']*1000 + pop_data['COUNTY'] 
case_pop = pd.merge(nyt_cases, pop_data[['POPESTIMATE2019', 'fips']], on = 'fips')
case_pop = case_pop.rename(columns = {'POPESTIMATE2019':'population'})

all_cases_time = case_pop.set_index(pd.to_datetime(case_pop.date))
del all_cases_time['date']

all_cases_time['population_adjusted_cases'] = all_cases_time['cases']/all_cases_time['population']
all_cases_time['fips'] = all_cases_time['fips'].astype(float).astype(int)
all_cases_time['fips'] = all_cases_time.fips.map("{:05}".format)

all_cases_time

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

                    county       state  ... population  population_adjusted_cases
date                                    ...
2020-01-21       Snohomish  Washington  ...     822083                   0.000001
2020-01-22       Snohomish  Washington  ...     822083                   0.000001
2020-01-23       Snohomish  Washington  ...     822083                   0.000001
2020-01-24       Snohomish  Washington  ...     822083                   0.000001
2020-01-25       Snohomish  Washington  ...     822083                   0.000001
...                    ...         ...  ...        ...                        ...
2020-05-09          Reeves       Texas  ...      15976                   0.000063
2020-05-09        Anderson      Kansas  ...       7858                   0.000127
2020-05-09         Laclede    Missouri  ...      35723                   0.000028
2020-05-09           Dawes    Nebraska  ...       8589                   0.000116
2020-05-09  Covington city    Virginia  ...       5538                   0.000181

[128256 rows x 7 columns]

In [0]:
# Helper function to get Y value given start_date and end_date
def get_difference_df(df, start_date, end_date):
  beginning_cases = all_cases_time[start_date]
  end_cases = all_cases_time[end_date]

  fips = list(set(beginning_cases.fips) & set(end_cases.fips)) #only want the cases recorded on both days
  beginning_cases = beginning_cases[beginning_cases.fips.isin(fips)]
  end_cases = end_cases[end_cases.fips.isin(fips)]
  end_cases["end_cases"] = end_cases.cases
  beginning_cases["beginning_cases"] = beginning_cases.cases

  case_difference = beginning_cases.reset_index()
  del case_difference['cases']
  del case_difference['date']

  case_difference['end_cases']= end_cases.reset_index().cases
  case_difference['end_deaths'] = end_cases.reset_index().deaths
  case_difference['case_diff'] = case_difference['end_cases']-case_difference['beginning_cases']
  case_difference['perc_increase'] = case_difference['case_diff']/case_difference['beginning_cases']*100
  case_difference['adj_increase'] = case_difference['case_diff']/case_difference['population']

  return case_difference

In [0]:
START_DATE = '2020-04-08'
END_DATE = '2020-04-15'
case_diff_1 = get_difference_df(all_cases_time, START_DATE, END_DATE)

START_DATE = '2020-04-15'
END_DATE = '2020-04-22'
case_diff_2 = get_difference_df(all_cases_time, START_DATE, END_DATE)

START_DATE = '2020-04-22'
END_DATE = '2020-04-29'
case_diff_3 = get_difference_df(all_cases_time, START_DATE, END_DATE)

In [0]:
case_diff = case_diff_1[['county', 'state', 'fips', 'population']]
case_diff.head()

        county       state   fips  population
0    Snohomish  Washington  53061      822083
1         Cook    Illinois  17031     5150233
2       Orange  California  06059     3175692
3     Maricopa     Arizona  04013     4485414
4  Los Angeles  California  06037    10039107

In [0]:
case_diff['Y1_case_diff'] = float('nan')
case_diff['Y1_perc_increase'] = float('nan')
case_diff['Y1_adj_increase'] = float('nan')

for idx, row in case_diff.iterrows():
  if len(case_diff_1.loc[case_diff_1['fips'] == row['fips']]['case_diff'].values) > 0:
    case_diff.loc[case_diff['fips']==row['fips'], 'Y1_case_diff'] = case_diff_1.loc[case_diff_1['fips'] == row['fips']]['case_diff'].values
    case_diff.loc[case_diff['fips']==row['fips'], 'Y1_perc_increase'] = case_diff_1.loc[case_diff_1['fips'] == row['fips']]['perc_increase'].values
    case_diff.loc[case_diff['fips']==row['fips'], 'Y1_adj_increase'] = case_diff_1.loc[case_diff_1['fips'] == row['fips']]['adj_increase'].values

case_diff.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        county       state  ... Y1_perc_increase  Y1_adj_increase
0    Snohomish  Washington  ...        17.296340         0.000356
1         Cook    Illinois  ...        64.505703         0.001318
2       Orange  California  ...        35.433071         0.000113
3     Maricopa     Arizona  ...        37.652341         0.000131
4  Los Angeles  California  ...        39.389110         0.000295

[5 rows x 7 columns]

In [0]:
case_diff['Y2_case_diff'] = float('nan')
case_diff['Y2_perc_increase'] = float('nan')
case_diff['Y2_adj_increase'] = float('nan')

for idx, row in case_diff.iterrows():
  # print(case_diff_2.loc[case_diff_2['fips'] == row['fips']]['case_diff'].values)
  if len(case_diff_2.loc[case_diff_2['fips'] == row['fips']]['case_diff'].values) > 0:
    case_diff.loc[case_diff['fips']==row['fips'], 'Y2_case_diff'] = case_diff_2.loc[case_diff_2['fips'] == row['fips']]['case_diff'].values
    case_diff.loc[case_diff['fips']==row['fips'], 'Y2_perc_increase'] = case_diff_2.loc[case_diff_2['fips'] == row['fips']]['perc_increase'].values
    case_diff.loc[case_diff['fips']==row['fips'], 'Y2_adj_increase'] = case_diff_2.loc[case_diff_2['fips'] == row['fips']]['adj_increase'].values

case_diff.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        county       state  ... Y2_perc_increase  Y2_adj_increase
0    Snohomish  Washington  ...        11.122295         0.000269
1         Cook    Illinois  ...        41.835202         0.001406
2       Orange  California  ...        27.398256         0.000119
3     Maricopa     Arizona  ...        32.618826         0.000156
4  Los Angeles  California  ...        56.583460         0.000592

[5 rows x 10 columns]

In [0]:
case_diff['Y3_case_diff'] = float('nan')
case_diff['Y3_perc_increase'] = float('nan')
case_diff['Y3_adj_increase'] = float('nan')

for idx, row in case_diff.iterrows():
  # print(case_diff_2.loc[case_diff_2['fips'] == row['fips']]['case_diff'].values)
  if len(case_diff_3.loc[case_diff_3['fips'] == row['fips']]['case_diff'].values) > 0:
    case_diff.loc[case_diff['fips']==row['fips'], 'Y3_case_diff'] = case_diff_3.loc[case_diff_3['fips'] == row['fips']]['case_diff'].values
    case_diff.loc[case_diff['fips']==row['fips'], 'Y3_perc_increase'] = case_diff_3.loc[case_diff_3['fips'] == row['fips']]['perc_increase'].values
    case_diff.loc[case_diff['fips']==row['fips'], 'Y3_adj_increase'] = case_diff_3.loc[case_diff_3['fips'] == row['fips']]['adj_increase'].values

case_diff.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        county       state  ... Y3_perc_increase  Y3_adj_increase
0    Snohomish  Washington  ...         9.420290         0.000253
1         Cook    Illinois  ...        42.100546         0.002007
2       Orange  California  ...        32.572732         0.000180
3     Maricopa     Arizona  ...        30.815179         0.000196
4  Los Angeles  California  ...        36.811682         0.000603

[5 rows x 13 columns]

In [0]:
case_diff.to_csv('case_diff_Y_v2.csv')

In [0]:
from google.colab import files
files.download('case_diff_Y_v2.csv')

UNACAST DATA AS T

In [0]:
county_unacast = pd.read_csv('/content/drive/My Drive/COVID19 Data Exploration /Data/county_unacast.csv')
county_unacast.head()

   Unnamed: 0      date  ... total_grade  num_grade
0           0  04/05/20  ...           C        5.0
1           1  04/04/20  ...           C        5.0
2           2  04/05/20  ...           C        5.0
3           3  04/04/20  ...           C        5.0
4           4  04/05/20  ...           C        5.0

[5 rows x 8 columns]

In [0]:
county_unacast.loc[county_unacast['county_fips']==53061, 'num_grade'].values.mean()
print(county_unacast['county_fips'])

0       48027
1       48027
2       48051
3       48051
4       48093
        ...
6435    54083
6436    55033
6437    55033
6438    55083
6439    55083
Name: county_fips, Length: 6440, dtype: int64

In [0]:
unacast_T = case_diff[['county', 'state', 'fips', 'population']]
unacast_T.head()

        county       state   fips  population
0    Snohomish  Washington  53061      822083
1         Cook    Illinois  17031     5150233
2       Orange  California  06059     3175692
3     Maricopa     Arizona  04013     4485414
4  Los Angeles  California  06037    10039107

In [0]:
unacast_T['fips']

0       53061
1       17031
2       06059
3       04013
4       06037
        ...
2643    46119
2644    46129
2645    54023
2646    54059
2647    56003
Name: fips, Length: 2648, dtype: object

In [0]:
unacast_T['unacast_score'] = 0
for idx, row in unacast_T.iterrows():
  if len(county_unacast.loc[county_unacast['county_fips']==int(row['fips']), 'num_grade'].values) > 0:
    unacast_T.loc[unacast_T['fips']==row['fips'], 'unacast_score'] = county_unacast.loc[county_unacast['county_fips']==int(row['fips']), 'num_grade'].values.mean()

unacast_T.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        county       state   fips  population  unacast_score
0    Snohomish  Washington  53061      822083            6.0
1         Cook    Illinois  17031     5150233            7.5
2       Orange  California  06059     3175692            8.0
3     Maricopa     Arizona  04013     4485414            6.5
4  Los Angeles  California  06037    10039107            7.5

In [0]:
del unacast_T['population']
unacast_T.head()

        county       state   fips  unacast_score
0    Snohomish  Washington  53061            6.0
1         Cook    Illinois  17031            7.5
2       Orange  California  06059            8.0
3     Maricopa     Arizona  04013            6.5
4  Los Angeles  California  06037            7.5

In [0]:
unacast_T.to_csv('unacast_T.csv')
files.download('unacast_T.csv')

Covariates X

1. Demographics: population (total), male/female ratio, age distribution (18 classes; group 1 is 0-5, group 2 is 5-10, ...), race distribution (white, black, native american, asian, hispanic, ...)
2. Socioeconomics: Income, Education, Poverty
3. COVID-19: Current total number of confirmed cases/deaths, tests given, positive/negative test ratio, comorbidities

In [0]:
# Demographics: https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2018/cc-est2018-alldata.pdf
#               cc-est2018-alldata.csv

demographic = pd.read_csv('/content/drive/My Drive/COVID19 Data Exploration /Data/cc-est2018-alldata.csv', encoding='latin1')
demographic.head()

   SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
0      50      1       1  ...          11        19           10
1      50      1       1  ...           0         2            1
2      50      1       1  ...           3         2            0
3      50      1       1  ...           1         1            1
4      50      1       1  ...           1         3            1

[5 rows x 80 columns]

In [0]:
# Things to note about processing this
# FIPS = 1000 * STATE + COUNTY
# YEAR: 11 is the most recent (July 2018)
# AGEGRP: 0 is total, 1~18 represent different age group
# Race: WA (White), BA (Black), IA (American + Alsaka Native), AA (Asian), NA (Native Hawaiian + Pacific Islander), H (Hispanic)

# What do we want:
# FIPS, TOTAL_MALE (%), TOTAL_FEMALE (%), AGE DISTRIBUTION (1~18, %), RACE DISTRIBUTION (W, B, I, A, N, H in %)

# 1) Filter by YEAR = 11
recent_demo = demographic.loc[demographic['YEAR']==11]
recent_demo

        SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
190         50      1       1  ...          17        22           12
191         50      1       1  ...           4         5            3
192         50      1       1  ...           0         3            0
193         50      1       1  ...           2         3            1
194         50      1       1  ...           2         1            3
...        ...    ...     ...  ...         ...       ...          ...
656673      50     56      45  ...           0         0            0
656674      50     56      45  ...           0         0            0
656675      50     56      45  ...           0         0            0
656676      50     56      45  ...           0         0            0
656677      50     56      45  ...           0         0            0

[59698 rows x 80 columns]

In [0]:
# 2) Create a FIPS column
recent_demo['fips'] = recent_demo['STATE'] * 1000 + recent_demo['COUNTY']
recent_demo['fips'] = recent_demo['fips'].astype(float).astype(int)
recent_demo['fips'] = recent_demo.fips.map("{:05}".format)
#all_cases_time['fips'] = all_cases_time['fips'].astype(float).astype(int)
#all_cases_time['fips'] = all_cases_time.fips.map("{:05}".format)
recent_demo.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     SUMLEV  STATE  COUNTY   STNAME  ... HAAC_FEMALE  HNAC_MALE  HNAC_FEMALE   fips
190      50      1       1  Alabama  ...          17         22           12  01001
191      50      1       1  Alabama  ...           4          5            3  01001
192      50      1       1  Alabama  ...           0          3            0  01001
193      50      1       1  Alabama  ...           2          3            1  01001
194      50      1       1  Alabama  ...           2          1            3  01001

[5 rows x 81 columns]

In [0]:
# 3) Create a new df with fips, stname, ctyname
df = recent_demo[['fips', 'STNAME', 'CTYNAME']].drop_duplicates()
df.head()

       fips   STNAME         CTYNAME
190   01001  Alabama  Autauga County
399   01003  Alabama  Baldwin County
608   01005  Alabama  Barbour County
817   01007  Alabama     Bibb County
1026  01009  Alabama   Blount County

In [0]:
temp = recent_demo.loc[recent_demo['fips']=='01001']
temp.loc[temp['AGEGRP']==0]['TOT_POP'].values[0]

55601

In [0]:
# 4) Add relevant data
df['male'] = 0
df['female'] = 0

for i in range(1, 19, 1):
  age_grp = 'age_' + str(i)
  df[age_grp] = 0

df['white'] = 0
df['black'] = 0
df['native'] = 0
df['pacific'] = 0
df['asian'] = 0
df['hispanic'] = 0

for idx, row in df.iterrows():
  fips = row['fips']
  demo = recent_demo.loc[recent_demo['fips']==fips]
  total_pop = demo.loc[demo['AGEGRP']==0]['TOT_POP'].values[0]
  total_male = demo.loc[demo['AGEGRP']==0]['TOT_MALE'].values[0]
  total_female = demo.loc[demo['AGEGRP']==0]['TOT_FEMALE'].values[0]

  age = []
  for i in range(1, 19, 1):
    age.append(demo.loc[demo['AGEGRP']==i]['TOT_POP'].values[0])

  white = demo.loc[demo['AGEGRP']==0]['WA_MALE'].values[0] + demo.loc[demo['AGEGRP']==0]['WA_FEMALE'].values[0]
  black = demo.loc[demo['AGEGRP']==0]['BA_MALE'].values[0] + demo.loc[demo['AGEGRP']==0]['BA_FEMALE'].values[0]
  native = demo.loc[demo['AGEGRP']==0]['IA_MALE'].values[0] + demo.loc[demo['AGEGRP']==0]['IA_FEMALE'].values[0]
  pacific = demo.loc[demo['AGEGRP']==0]['NA_MALE'].values[0] + demo.loc[demo['AGEGRP']==0]['NA_FEMALE'].values[0]
  asian = demo.loc[demo['AGEGRP']==0]['AA_MALE'].values[0] + demo.loc[demo['AGEGRP']==0]['AA_FEMALE'].values[0]
  hispanic = demo.loc[demo['AGEGRP']==0]['H_MALE'].values[0] + demo.loc[demo['AGEGRP']==0]['H_FEMALE'].values[0]

  df.loc[df['fips']==fips, 'male'] = float(total_male) / float(total_pop)
  df.loc[df['fips']==fips, 'female'] = float(total_female) / float(total_pop)

  for i in range(1, 19, 1):
    agegrp = 'age_' + str(i)
    df.loc[df['fips']==fips, agegrp] = float(age[i-1]) / float(total_pop)

  df.loc[df['fips']==fips, 'white'] = float(white) / float(total_pop)
  df.loc[df['fips']==fips, 'black'] = float(black) / float(total_pop)
  df.loc[df['fips']==fips, 'native'] = float(native) / float(total_pop)
  df.loc[df['fips']==fips, 'pacific'] = float(pacific) / float(total_pop)
  df.loc[df['fips']==fips, 'asian'] = float(asian) / float(total_pop)
  df.loc[df['fips']==fips, 'hispanic'] = float(hispanic) / float(total_pop)

  # df.head()

In [0]:
df['total_pop'] = 0
for idx, row in df.iterrows():
  fips = row['fips']
  demo = recent_demo.loc[recent_demo['fips']==fips]
  total_pop = demo.loc[demo['AGEGRP']==0]['TOT_POP'].values[0]
  df.loc[df['fips']==fips, 'total_pop'] = total_pop

df.head()

       fips   STNAME         CTYNAME  ...     asian  hispanic  total_pop
190   01001  Alabama  Autauga County  ...  0.012248  0.029658      55601
399   01003  Alabama  Baldwin County  ...  0.011503  0.046468     218022
608   01005  Alabama  Barbour County  ...  0.004542  0.042764      24881
817   01007  Alabama     Bibb County  ...  0.002366  0.026250      22400
1026  01009  Alabama   Blount County  ...  0.003198  0.095712      57840

[5 rows x 30 columns]

In [0]:
from google.colab import files
df.to_csv('demographics_X.csv')
files.download('demographics_X.csv')

In [0]:
df.head()

       fips   STNAME         CTYNAME  ...     asian  hispanic  total_pop
190   01001  Alabama  Autauga County  ...  0.012248  0.029658      55601
399   01003  Alabama  Baldwin County  ...  0.011503  0.046468     218022
608   01005  Alabama  Barbour County  ...  0.004542  0.042764      24881
817   01007  Alabama     Bibb County  ...  0.002366  0.026250      22400
1026  01009  Alabama   Blount County  ...  0.003198  0.095712      57840

[5 rows x 30 columns]

In [0]:
edu_df = pd.read_excel('/content/drive/My Drive/COVID19 Data Exploration /Data/Education.xls')
poverty_df = pd.read_excel('/content/drive/My Drive/COVID19 Data Exploration /Data/PovertyEstimates.xls')
income_df = pd.read_excel('/content/drive/My Drive/COVID19 Data Exploration /Data/Unemployment.xls')

In [0]:
edu_df = edu_df[4:]
edu_df = edu_df[['Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2018', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46']]
# edu_df['Unnamed: 46']
edu_df.head()

  Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2018  ... Unnamed: 46
4                                              00000                                                ...        31.5
5                                              01000                                                ...        24.9
6                                              01001                                                ...        27.7
7                                              01003                                                ...        31.3
8                                              01005                                                ...        12.2

[5 rows x 5 columns]

In [0]:
edu_df = edu_df.rename(columns = {'Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2018':'FIPS'})
edu_df = edu_df.rename(columns = {'Unnamed: 43':'LessHighSchool', 'Unnamed: 44':'OnlyHighSchool', 'Unnamed: 45':'SomeBachelor', 'Unnamed: 46':'Bachelor'})
edu_df.head()

    FIPS LessHighSchool OnlyHighSchool SomeBachelor Bachelor
4  00000           12.3           27.1           29     31.5
5  01000           14.2           30.9         29.9     24.9
6  01001           11.3           32.6         28.4     27.7
7  01003            9.7           27.6         31.3     31.3
8  01005             27           35.7         25.1     12.2

In [0]:
poverty_df = poverty_df[4:]
poverty_df = poverty_df[['Poverty estimates for the U.S., States, and counties, 2018', 'Unnamed: 7']]

poverty_df.head()

  Poverty estimates for the U.S., States, and counties, 2018 Unnamed: 7
4                                              00000           41852315
5                                              01000             801758
6                                              01001               7587
7                                              01003              21069
8                                              01005               6788

In [0]:
poverty_df = poverty_df.rename(columns={'Poverty estimates for the U.S., States, and counties, 2018':'FIPS', 'Unnamed: 7':'Poverty'})
poverty_df.head()

    FIPS   Poverty
4  00000  41852315
5  01000    801758
6  01001      7587
7  01003     21069
8  01005      6788

In [0]:
income_df = income_df[4:]
income_df = income_df[['Unemployment and median household income for the U.S., States, and counties, 2007-18', 'Unnamed: 53', 'Unnamed: 54']]

income_df.head()

  Unemployment and median household income for the U.S., States, and counties, 2007-18  ... Unnamed: 54
4                                              00000                                    ...       61937
5                                              01000                                    ...       49881
6                                              01001                                    ...       59338
7                                              01003                                    ...       57588
8                                              01005                                    ...       34382

[5 rows x 3 columns]

In [0]:
income_df = income_df.rename(columns={'Unemployment and median household income for the U.S., States, and counties, 2007-18':'FIPS', \
                                      'Unnamed: 53':'UnemploymentRate', 'Unnamed: 54':'MedianIncome'})
income_df.head()

    FIPS UnemploymentRate MedianIncome
4  00000              3.9        61937
5  01000              3.9        49881
6  01001              3.6        59338
7  01003              3.6        57588
8  01005              5.2        34382

In [0]:
df.head()

       fips   STNAME         CTYNAME  ...     asian  hispanic  total_pop
190   01001  Alabama  Autauga County  ...  0.012248  0.029658      55601
399   01003  Alabama  Baldwin County  ...  0.011503  0.046468     218022
608   01005  Alabama  Barbour County  ...  0.004542  0.042764      24881
817   01007  Alabama     Bibb County  ...  0.002366  0.026250      22400
1026  01009  Alabama   Blount County  ...  0.003198  0.095712      57840

[5 rows x 30 columns]

In [0]:
df['Education_LessHighSchool'] = 0
df['Education_OnlyHighSchool'] = 0
df['Education_SomeBachelor'] = 0
df['Education_Bachelor'] = 0

df['Poverty'] = 0
df['Unemployment'] = 0
df['MedianIncome'] = 0

for idx, row in df.iterrows():
  fips = row['fips']
  
  edu = edu_df.loc[edu_df['FIPS']==fips]
  if len(edu) > 0:
    df.loc[df['fips']==fips, 'Education_LessHighSchool'] = float(edu['LessHighSchool'].values[0]) / 100.
    df.loc[df['fips']==fips, 'Education_OnlyHighSchool'] = float(edu['OnlyHighSchool'].values[0]) / 100.
    df.loc[df['fips']==fips, 'Education_SomeBachelor'] = float(edu['SomeBachelor'].values[0]) / 100.
    df.loc[df['fips']==fips, 'Education_Bachelor'] = float(edu['Bachelor'].values[0]) / 100.
  
  if len(poverty_df.loc[poverty_df['FIPS']==fips]) > 0:
    df.loc[df['fips']==fips, 'Poverty'] = float(poverty_df.loc[poverty_df['FIPS']==fips]['Poverty'].values[0]) / float(row['total_pop'])

  if len(income_df.loc[income_df['FIPS']==fips]) > 0:
    df.loc[df['fips']==fips, 'Unemployment'] = float(income_df.loc[income_df['FIPS']==fips]['UnemploymentRate'].values[0]) / 100. 
    df.loc[df['fips']==fips, 'MedianIncome'] = income_df.loc[income_df['FIPS']==fips]['MedianIncome'].values[0]

df.head()

       fips   STNAME         CTYNAME  ...   Poverty  Unemployment  MedianIncome
190   01001  Alabama  Autauga County  ...  0.136454         0.036         59338
399   01003  Alabama  Baldwin County  ...  0.096637         0.036         57588
608   01005  Alabama  Barbour County  ...  0.272819         0.052         34382
817   01007  Alabama     Bibb County  ...  0.196429         0.040         46064
1026  01009  Alabama   Blount County  ...  0.130135         0.035         50412

[5 rows x 37 columns]

In [0]:
df.to_csv('demographics_socioecon_X.csv')
files.download('demographics_socioecon_X.csv')

Combining demographics + socioecon + current COVID status + politics

In [0]:
df = pd.read_csv('/content/drive/My Drive/COVID19 Data Exploration /Data/demographics_socioecon_X.csv')
del df['Unnamed: 0']
df.head()

   fips   STNAME         CTYNAME  ...   Poverty  Unemployment  MedianIncome
0  1001  Alabama  Autauga County  ...  0.136454         0.036         59338
1  1003  Alabama  Baldwin County  ...  0.096637         0.036         57588
2  1005  Alabama  Barbour County  ...  0.272819         0.052         34382
3  1007  Alabama     Bibb County  ...  0.196429         0.040         46064
4  1009  Alabama   Blount County  ...  0.130135         0.035         50412

[5 rows x 37 columns]

In [0]:
pop_density_per_county = pd.read_csv('https://raw.githubusercontent.com/COVID19Tracking/associated-data/master/us_census_data/us_census_2018_population_estimates_counties.csv')
pop_density_per_county.head()

  state   county state_name  geo_id  population  pop_density
0    AL  Autauga    Alabama    1001       55601    93.534505
1    AL  Baldwin    Alabama    1003      218022   137.138546
2    AL  Barbour    Alabama    1005       24881    28.114060
3    AL     Bibb    Alabama    1007       22400    35.986169
4    AL   Blount    Alabama    1009       57840    89.697955

In [0]:
state_tests = pd.read_csv('https://raw.githubusercontent.com/COVID19Tracking/covid-tracking-data/master/data/states_daily_4pm_et.csv')
state_tests.head()

       date state  ...  positiveIncrease  totalTestResultsIncrease
0  20200510    AK  ...               1.0                     915.0
1  20200510    AL  ...             210.0                    1927.0
2  20200510    AR  ...               0.0                       0.0
3  20200510    AS  ...               0.0                       0.0
4  20200510    AZ  ...             159.0                    8799.0

[5 rows x 27 columns]

In [0]:
election_data = pd.read_csv('https://raw.githubusercontent.com/tonmcg/US_County_Level_Election_Results_08-16/master/2016_US_County_Level_Presidential_Results.csv')
election_data.head()

   Unnamed: 0  votes_dem  votes_gop  ...  state_abbr  county_name  combined_fips
0           0    93003.0   130413.0  ...          AK       Alaska           2013
1           1    93003.0   130413.0  ...          AK       Alaska           2016
2           2    93003.0   130413.0  ...          AK       Alaska           2020
3           3    93003.0   130413.0  ...          AK       Alaska           2050
4           4    93003.0   130413.0  ...          AK       Alaska           2060

[5 rows x 11 columns]

In [0]:
election_data.loc[election_data['combined_fips']//1000 == 2]

    Unnamed: 0  votes_dem  votes_gop  ...  state_abbr  county_name  combined_fips
0            0    93003.0   130413.0  ...          AK       Alaska           2013
1            1    93003.0   130413.0  ...          AK       Alaska           2016
2            2    93003.0   130413.0  ...          AK       Alaska           2020
3            3    93003.0   130413.0  ...          AK       Alaska           2050
4            4    93003.0   130413.0  ...          AK       Alaska           2060
5            5    93003.0   130413.0  ...          AK       Alaska           2068
6            6    93003.0   130413.0  ...          AK       Alaska           2070
7            7    93003.0   130413.0  ...          AK       Alaska           2090
8            8    93003.0   130413.0  ...          AK       Alaska           2100
9            9    93003.0   130413.0  ...          AK       Alaska           2105
10          10    93003.0   130413.0  ...          AK       Alaska           2110
11          11    93003.0   130413.0  ...          AK       Alaska           2122
12          12    93003.0   130413.0  ...          AK       Alaska           2130
13          13    93003.0   130413.0  ...          AK       Alaska           2150
14          14    93003.0   130413.0  ...          AK       Alaska           2164
15          15    93003.0   130413.0  ...          AK       Alaska           2170
16          16    93003.0   130413.0  ...          AK       Alaska           2180
17          17    93003.0   130413.0  ...          AK       Alaska           2185
18          18    93003.0   130413.0  ...          AK       Alaska           2188
19          19    93003.0   130413.0  ...          AK       Alaska           2195
20          20    93003.0   130413.0  ...          AK       Alaska           2198
21          21    93003.0   130413.0  ...          AK       Alaska           2220
22          22    93003.0   130413.0  ...          AK       Alaska           2230
23          23    93003.0   130413.0  ...          AK       Alaska           2240
24          24    93003.0   130413.0  ...          AK       Alaska           2261
25          25    93003.0   130413.0  ...          AK       Alaska           2270
26          26    93003.0   130413.0  ...          AK       Alaska           2275
27          27    93003.0   130413.0  ...          AK       Alaska           2282
28          28    93003.0   130413.0  ...          AK       Alaska           2290

[29 rows x 11 columns]

In [0]:
df['pop_density'] = 0
df['total_test'] = 0
df['pos_test_rate'] = 0
df['dem_support'] = 0
df['gop_support'] = 0

for idx, row in df.iterrows():
  fips = row['fips']
  state_fips = int(fips / 1000)
  state_pop = df.loc[df['fips']//1000==state_fips]['total_pop'].values.sum()

  if len( pop_density_per_county.loc[pop_density_per_county['geo_id']==fips]) > 0:
    df.loc[df['fips']==fips, 'pop_density'] = pop_density_per_county.loc[pop_density_per_county['geo_id']==fips]['pop_density'].values[0]

  if len(state_tests.loc[state_tests['fips']==state_fips]) > 0:
    pos_test = state_tests.loc[state_tests['fips']==state_fips]['positive'].values[0]
    neg_test = state_tests.loc[state_tests['fips']==state_fips]['negative'].values[0]
    df.loc[df['fips']==fips, 'total_test'] = (float(pos_test) + float(neg_test)) / float(state_pop)
    df.loc[df['fips']==fips, 'pos_test_rate'] = float(pos_test) / (float(pos_test) + float(neg_test))
  # print(fips)
  if len(election_data.loc[election_data['combined_fips']==fips]) > 0:
    df.loc[df['fips']==fips, 'dem_support'] = election_data.loc[election_data['combined_fips']==fips]['per_dem'].values[0]
    df.loc[df['fips']==fips, 'gop_support'] = election_data.loc[election_data['combined_fips']==fips]['per_gop'].values[0]

df.head()

   fips   STNAME         CTYNAME  ...  pos_test_rate  dem_support  gop_support
0  1001  Alabama  Autauga County  ...        0.07673     0.239569     0.734358
1  1003  Alabama  Baldwin County  ...        0.07673     0.195653     0.773515
2  1005  Alabama  Barbour County  ...        0.07673     0.466603     0.522714
3  1007  Alabama     Bibb County  ...        0.07673     0.214220     0.769662
4  1009  Alabama   Blount County  ...        0.07673     0.084699     0.898519

[5 rows x 42 columns]

In [0]:
# Now, add covid related data
# 1) total case until March 28 (a week before Apr 4)
# 2) increase during March 23-28

START_DATE = '2020-03-25'
END_DATE = '2020-04-01'
case_diff_X = get_difference_df(all_cases_time, START_DATE, END_DATE)
case_diff_X.head()

        county       state   fips  ...  case_diff  perc_increase  adj_increase
0    Snohomish  Washington  53061  ...        671     106.003160      0.000816
1         Cook    Illinois  17031  ...       3734     263.328632      0.000725
2       Orange  California  06059  ...        419     224.064171      0.000132
3     Maricopa     Arizona  04013  ...        620     247.011952      0.000138
4  Los Angeles  California  06037  ...       2719     340.300375      0.000271

[5 rows x 12 columns]

In [0]:
df['fips'] = df['fips'].astype(float).astype(int)
df['fips'] = df.fips.map("{:05}".format)

In [0]:
data_from_end = all_cases_time['2020-04-01']

In [0]:
df['cases'] = 0
df['deaths'] = 0
df['perc_increase'] = 0
df['adj_increase'] = 0

for idx, row in df.iterrows():
  if len(data_from_end.loc[data_from_end['fips']==row['fips']]) > 0:
    df.loc[df['fips']==row['fips'], 'cases'] = data_from_end.loc[data_from_end['fips']==row['fips']]['cases'].values[0]
    df.loc[df['fips']==row['fips'], 'deaths'] = data_from_end.loc[data_from_end['fips']==row['fips']]['deaths'].values[0]
  if len(case_diff_X.loc[case_diff_X['fips']==row['fips']]) > 0:
    df.loc[df['fips']==row['fips'], 'perc_increase'] = case_diff_X.loc[case_diff_X['fips']==row['fips']]['perc_increase'].values[0]
    df.loc[df['fips']==row['fips'], 'adj_increase'] = case_diff_X.loc[case_diff_X['fips']==row['fips']]['adj_increase'].values[0]

In [0]:
df.head(30)

     fips   STNAME           CTYNAME  ...  deaths  perc_increase  adj_increase
0   01001  Alabama    Autauga County  ...       0     150.000000      0.000107
1   01003  Alabama    Baldwin County  ...       1     475.000000      0.000085
2   01005  Alabama    Barbour County  ...       0       0.000000      0.000000
3   01007  Alabama       Bibb County  ...       0       0.000000      0.000000
4   01009  Alabama     Blount County  ...       0     400.000000      0.000069
5   01011  Alabama    Bullock County  ...       0       0.000000      0.000000
6   01013  Alabama     Butler County  ...       0       0.000000      0.000000
7   01015  Alabama    Calhoun County  ...       0     450.000000      0.000079
8   01017  Alabama   Chambers County  ...       4     350.000000      0.001053
9   01019  Alabama   Cherokee County  ...       0     100.000000      0.000038
10  01021  Alabama    Chilton County  ...       0    1200.000000      0.000270
11  01023  Alabama    Choctaw County  ...       0       0.000000      0.000000
12  01025  Alabama     Clarke County  ...       0       0.000000      0.000000
13  01027  Alabama       Clay County  ...       0     200.000000      0.000151
14  01029  Alabama   Cleburne County  ...       0     500.000000      0.000335
15  01031  Alabama     Coffee County  ...       0       0.000000      0.000000
16  01033  Alabama    Colbert County  ...       0     300.000000      0.000054
17  01035  Alabama    Conecuh County  ...       0       0.000000      0.000000
18  01037  Alabama      Coosa County  ...       0       0.000000      0.000000
19  01039  Alabama  Covington County  ...       0       0.000000      0.000000
20  01041  Alabama   Crenshaw County  ...       0       0.000000      0.000000
21  01043  Alabama    Cullman County  ...       1     125.000000      0.000060
22  01045  Alabama       Dale County  ...       0       0.000000      0.000000
23  01047  Alabama     Dallas County  ...       0      50.000000      0.000027
24  01049  Alabama     DeKalb County  ...       0       0.000000      0.000000
25  01051  Alabama     Elmore County  ...       0      66.666667      0.000074
26  01053  Alabama   Escambia County  ...       0       0.000000      0.000000
27  01055  Alabama     Etowah County  ...       1     233.333333      0.000068
28  01057  Alabama    Fayette County  ...       0       0.000000      0.000000
29  01059  Alabama   Franklin County  ...       0      50.000000      0.000032

[30 rows x 46 columns]

In [0]:
from google.colab import files
df.to_csv('all_X_ver2.csv')
files.download('all_X_ver2.csv')